---
import Skills from './Skills.astro'
import JQuery from './icons/JQuery.astro'
import Html5 from './icons/Html5.astro'
import JavaScript from './icons/JavaScript.astro'
import Css from './icons/Css.astro'
import ExpressJS from './icons/ExpressJS.astro'
import Git from './icons/Git.astro'
import Linux from './icons/Linux.astro'
import NodeJS from './icons/NodeJS.astro'
import ReactIcon from './icons/ReactIcon.astro'
import VSCode from './icons/VSCode.astro'
import Npm from './icons/Npm.astro'
import PostgreSQL from './icons/PostgreSQL.astro'
import PostMan from './icons/PostMan.astro'
import MySQL from './icons/MySQL.astro'
import OAuth from './icons/OAuth.astro'
import AWS from './icons/AWS.astro'
import PremierPro from './icons/PremierPro.astro'
import Photoshop from './icons/Photoshop.astro'
import CodeSandBox from './icons/CodeSandBox.astro'
import AstroIcon from './icons/AstroIcon.astro'
import Tailwind from './icons/Tailwind.astro'
import ViteIcon from './icons/ViteIcon.astro'
---
<div class="flex flex-wrap gap-x-4 gap-y-4">
    <Skills>
        <JQuery class="size-12" />
      </Skills>
      <Skills>
        <Html5 class="size-12" />
      </Skills>
      <Skills>
        <JavaScript class="size-12" />
      </Skills>
      <Skills>
        <Css class="size-12" />
      </Skills>
      <Skills>
        <ExpressJS class="size-12" />
      </Skills>
      <Skills>
        <Git class="size-12" />
      </Skills>
      <Skills>
        <Linux class="size-12" />
      </Skills>
      <Skills>
        <NodeJS class="size-12" />
      </Skills>
      <Skills>
        <ReactIcon class="size-12" />
      </Skills>
      <Skills>
        <VSCode class="size-12" />
      </Skills>
      <Skills>
        <Npm class="size-12" />
      </Skills>
      <Skills>
        <PostgreSQL class="size-12" />
      </Skills>
      <Skills>
        <PostMan class="size-12" />
      </Skills>
      <Skills>
        <MySQL class="size-12" />
      </Skills>
      <Skills>
        <OAuth class="size-12" />
      </Skills>
      <Skills>
        <AWS class="size-12" />
      </Skills>
      <Skills>
        <PremierPro class="size-12" />
      </Skills>
      <Skills>
        <Photoshop class="size-12" />
      </Skills>
      <Skills>
        <CodeSandBox class="size-12" />
      </Skills>
      <Skills>
        <AstroIcon class="size-12" />
      </Skills>
      <Skills>
        <Tailwind class="size-12" />
      </Skills>
      <Skills>
        <ViteIcon class="size-12" />
      </Skills>
</div>