<div class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition bg-gray-300/50 text-gray-800
border border-gray-300 rounded-2xl dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white 
hover:bg-gray-400 hover:text-gray-800  dark:bg-gray-700/10
hover:shadow-lg ">
    <slot />
</div>